.nav {
    font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:16px;	background-color:black;
    float:left;	
    width:100%;
    border-bottom:2px solid white;
}
.nav ul {
    list-style:none;
    margin:0px;
    padding:5px 10px 0;
}
.nav li {
    background:url(rcs/menup_dcha.gif) no-repeat right top;
    float:left;
    margin:0 1px 0 0;
    padding:0px;
}	
.nav li a {
    background:url(rcs/menup_izda.gif) no-repeat left top;
    display:block;
    padding:5px 15px;
    color:white;
    text-decoration:none
}
.nav li:hover {
    background-position:100% -75px;
}	
.nav li:hover a {
    background-position:100% -75px;
    
}	
.nav li.current {
    background-position:100% -75px;
    position:relative;
    top:2px
}	
.nav li.current a {
    background-position:0% -75px;
    color:#155523

}
.nav li a:hover {
   background-color:#434343;
}
body{
   background-image: url(../img/WEuzVS.jpg);
   background-attachment: fixed;
}
#texto{
   font-family: Georgia;
    font-size: 130%;
   
}
#título{
   font-family: impact;
    font-size: 230%;
}
table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;    margin: 30px;     width: 500px; text-align: center;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }

#titulo1{
   font-family: impact;
   font-size: 230%;
   text-align: center;
}

.fotos {
   width: 90%;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   border: 0px;
}

.fotos li {
   margin: none;
   list-style:none;
}

.fotos img {
   height: 350px;
   float: right;
   margin: 5px;
}

.modal {
   display: none;
}

.modal:target {
   display: block;
   position: fixed;
   background: rgba(0,0,0,0.8);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.imagen {
   display: flex;
   justify-content: center;
   align-items: center;
   position:fixed;
   width:300px;
   height:200px;
   left:50%;
   top:50%;
   margin-left:-150px;
   margin-top:-100px;
}
   

.imagen img {
   height: 500px;
   border: 7px solid #fff;
   box-sizing: border-box;
}

.video {
   margin: 5px;
}

td {
   width: 400px;
   height: 300px;
}